*{
	box-sizing: border-box;}
body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif, serif, fantasy;
}
h1{
	text-align: center;
	margin-bottom: 90px;
	font-weight: bold;
	font-family: fantasy;
	font-size: 56px;
}

.box{
background-color: gray;
text-align: center;
border: 3px black solid;
width: 100%;
padding: 30px;
margin-top: 10%;
font-size: 18px;
margin: 15px;
position: relative;
}
.titlebox{
	float: right;
	border: 2px solid black;
	text-align: center;
	width: 110px;
	height: 30px;
	margin-top: -32px;
	margin-right: -32px;
	font-weight: bold;
	font-size: 20px;
	overflow: none;
}
.color1{background-color: pink;}
.color2{background-color: yellow;}
.color3{background-color: lightblue;}

@media (min-width: 992px) {
.col-lg-4{
	float: left;
	width: calc(33.33% - 30px)
}
}
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6,.col-md-12 {
     float: left;
   }
   .col-md-6 {
     width: calc(50% - 30px)
   }
   .col-md-12 {
     width: calc(100% - 30px)
   }
 }
@media (min-width: 1px) and (max-width: 767px) {
	.col-sm-12 {
	float: left;
	width: calc(100% - 30px)
	}
}
